@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*, *:before, *:after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
}

footer{
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    color:#fff;
    background-color: #4481eb;
    justify-content: center;
    text-align: center;
}

